@model MeterWeb.Reading

@{
    ViewData["Title"] = "Видалити покази";
}



<h3>Видалити покази?</h3>
<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadingDataOfCurrentReading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadingDataOfCurrentReading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadingMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadingMeter.MeterId)
        </dd class>
       
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadingPayment.PaymentId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReadingId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">До списку адрес</a>
    </form>
</div>
