@model IEnumerable<MeterWeb.Flat>

@{
    ViewData["Title"] = "Подавання показів на лічильники";
}

<h1>Покази лічильників</h1>

<p>
    <a asp-action="Create">Додати адресу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlatAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlatAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FlatId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.FlatId">Переглянути лічильники</a> |
                <a asp-action="Delete" asp-route-id="@item.FlatId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
