@model MeterWeb.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDataOfCurrrentPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDataOfCurrrentPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentSumOfCurrentMonthPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentSumOfCurrentMonthPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentTariff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentTariff.TariffPrivilege)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
