@model IEnumerable<MeterWeb.Payment>

@{
    ViewData["Title"] = "Оплата";
}


<p>
    <a asp-action="Create">Оплатити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDataOfCurrrentPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentSumOfCurrentMonthPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTariff.TariffPrivilege)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTariff.TariffPrice)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDataOfCurrrentPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentSumOfCurrentMonthPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTariff.TariffPrivilege)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTariff.TariffPrice)
            </td>
            <td>
            
            </td>
        </tr>
}
    </tbody>
</table>

