@model MeterWeb.MeterType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MeterType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterService.ServiceName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MeterTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
