@model MeterWeb.Meter

@{
    ViewData["Title"] = "Видалення лічильника";
}



<h3>Ви впевнені, що хочете видалити лічильник?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterDataLastReplacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterDataLastReplacement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterFlat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterFlat.FlatAddress)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterType.MeterTypeName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MeterId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до адрес</a>
    </form>
</div>
